{% extends "blog/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>네이버 스포츠 뉴스</h1>
        <p>기사 목록</p>
        <p>
            <ul>
            {% for post in post_list %}
              <li>
                <a href="{% url "blog.views.post_detail" post.pk %}" style="text-decoration: none;">
                {{ post.title }}
                </a>
              </li>
            {% endfor %}
            </ul>

        </p>
    </div>
</div>
{% endblock %}
